<!-- templates/base.html -->
<header>
{% comment %} You can reference named urls in your template files by using the 'url' template tag. {% endcomment %}
<a href="{% url 'home' %}">Home</a> |
<a href="{% url 'about' %}">About</a>
</header>
{% block content %}{% endblock %}

{% comment %} NOTE: this is a base.html file, which is created with the intent of reusing it wherever applicable in other files, and reducing the amount of repeated template code.
 
You use block tags within a base.html file to define sections that can be overridden by child templates.{% endcomment %}